<div class="embed-container {{ service }}">
    <div class="embed-overlay">
        <h3>
            {{ "Clicking of this box will load content from an external page, where a different privacy policy may be in place." }}
        </h3>
    </div>
    <div class="embed-content"><!--noptimize--><!--

     {{ service_embed|raw }}

     --><!--/noptimize--></div>
</div>
